
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RazorFun</title>
</head>
<body>
    <h3>Here are some delicious foods!</h3>
@{
    var Foods = new List<string>
    {
        "Blueberry",
        "Cake",
        "Pineapple",
        "Orange Juice"
     };
        
    foreach(var word in Foods)
    {
        <p>@word</p>
    }
}
</body>
</html>